<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>테스트</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .border-div{
            border: 1px solid #9eecf1;
            padding: 10px;
        }

    </style>
</head>
<body>
<div class="paading-div" style="padding: 10%; margin-bottom: 200px;">
    <div class="container mt-5">
        <br>
        <div class="border-div">
        <h5>form태그로 데이터 보내기-동기방식(페이지 이동o. 다른 페이지)</h5>
        <form action="{% url 'input_result' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="disease" class="form-label">질병명:</label>
                <input type="text" class="form-control" id="diseaseForm" name="disease">
            </div>
            <div class="mb-3">
                <label for="pill" class="form-label">복용중인 약:</label>
                <input type="text" class="form-control" id="pillForm" name="pill">
            </div>
            <button type="submit" class="btn btn-primary">제출</button>
        </form>
        </div>
        <div class="border-div">
        <h5>ajax로 데이터 보내기-비동기 방식(페이지 이동x. 이동하게 수정 가능)</h5>
            <div class="mb-3">
                <label for="disease" class="form-label">질병명:</label>
                <input type="text" class="form-control" id="diseaseAjax" name="disease">
            </div>
            <div class="mb-3">
                <label for="pill" class="form-label">복용중인 약:</label>
                <input type="text" class="form-control" id="pillAjax" name="pill">
            </div>
            <button id="input-value" class="btn btn-primary">검색</button>
        </div>
        <div id="result">
            <!--여기에 입력한값 출력-->
        </div>
        <h3>둘 중 하나 선택해서 사용예정</h3>
        <div class="border-div">
        <h5>자동완성 기능 test(약이름)</h5>
        <form id="searchForm" action="/result_page/" method="POST" target="_blank">
            <input class = "form-control me-2" name="search_pill" type="search" list="pill_list" placeholder="약이름">
                <datalist id="pill_list">
                    {% for pill_name in pill_list %}
                        <option>{{pill_name}}</option>
                    {% endfor %}
                </datalist>
            <button class="btn btn-primary" type="submit">전송</button>
            </form>
        <div id="select-option">
            <!-- 결과값 출력 -->
        </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // ajax 테스트용 
        $("#input-value").click(function () {
            input_ajax();
        });

        function input_ajax() {
            var disease = $("#diseaseAjax").val();
            var pill = $("#pillAjax").val();

            $.ajax({
                type: "POST",
                url: '{% url "input_ajax" %}',
                data: {
                    disease: disease,
                    pill: pill,
                },
                success: function (response) {
                    $("#result").html("<p>질병명: " + response.disease + "</p><p>복용중인 약: " + response.pill + "</p>");
                },
                error: function (error) {
                    console.log("에러 발생:", error);
                }
            });
        }

        // db에서 불러온 약이름 option태그로 추가시키기
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();

        $('input[name="search_pill"]').on('input', function() {
            var input_value = $(this).val();
            $.ajax({
                url: '/auto_complete/',
                method: 'POST',
                data: {'input_value': input_value,
                'csrfmiddlewaretoken': csrf_token},
                dataType: 'json',
                success: function(data) {
                    var datalist = $('#pill_list');

                    datalist.empty();
                    $.each(data, function(index, value) {
                        datalist.append('<option value="' + value + '">' + value + '</option>');
                    });
                }
            });
        });

        // option에서 누른 약 이름데이터 ajax로 보내기
        $('#searchForm').submit(function (e) {
            e.preventDefault();
            var option = $('input[name="search_pill"]').val();
            $.ajax({
                url: '/select_pill/',
                method: 'POST',
                data: {
                    'selected_option': option,
                    'csrfmiddlewaretoken': csrf_token
                },
                dataType: 'json',
                success: function (result) {
                    $("#select-option").html('<h5>ajax 전송결과</h5><div>' + result.result + '</div>');
                }
            });
        });
    });
</script>
</body>
</html>