<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>테스트</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        .border-div{
            border: 1px solid #9eecf1; /* 1픽셀 두께의 검은색 실선 태두리 */
            padding: 10px; /* 내부 여백 추가 (선택적) */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <br>
        <div class="border-div">
        <h5>form태그로 데이터 보내기-동기방식(페이지 이동o. 다른 페이지)</h5>
        <form action="{% url 'input_result' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="disease" class="form-label">질병명:</label>
                <input type="text" class="form-control" id="diseaseForm" name="disease">
            </div>
            <div class="mb-3">
                <label for="pill" class="form-label">복용중인 약:</label>
                <input type="text" class="form-control" id="pillForm" name="pill">
            </div>
            <button type="submit" class="btn btn-primary">제출</button>
        </form>
        </div>
        <div class="border-div">
        <h5>ajax로 데이터 보내기-비동기 방식(페이지 이동x. 이동하게 수정 가능)</h5>
            <div class="mb-3">
                <label for="disease" class="form-label">질병명:</label>
                <input type="text" class="form-control" id="diseaseAjax" name="disease">
            </div>
            <div class="mb-3">
                <label for="pill" class="form-label">복용중인 약:</label>
                <input type="text" class="form-control" id="pillAjax" name="pill">
            </div>
            <button id="input-value" class="btn btn-primary">검색</button>
        </div>
        <div id="result">
            <!--여기에 입력한값 출력-->
        </div>
        <h3>둘 중 하나 선택해서 사용예정</h3>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("#input-value").click(function () {
            input_ajax();
        });

        function input_ajax() {
            var disease = $("#diseaseAjax").val();
            var pill = $("#pillAjax").val();

            $.ajax({
                type: "POST",
                url: '{% url "input_ajax" %}',
                data: {
                    disease: disease,
                    pill: pill,
                },
                success: function (response) {
                    $("#result").html("<p>질병명: " + response.disease + "</p><p>복용중인 약: " + response.pill + "</p>");
                },
                error: function (error) {
                    console.log("에러 발생:", error);
                }
            });
        }
    });
</script>
</html>