<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>테스트</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="/static/css/styles.css?v=1" rel="stylesheet" />

    <style>
        .border-div{
            border: 1px solid #9eecf1;
            padding: 10px;
        }

    </style>
</head>
    <body id="page-top">
        <!-- Navigation-->
        {% include 'polls/navigation.html' %}
        <!-- Masthead-->
        <header class="masthead">
			<div class="masthead-heading text-uppercase">정보 입력</div>
        </header>
        <!-- Services-->
        <div class="paading-div" style="padding-left: 10%; padding-right: 10%">
            <div class="container mt-5">
                <br>
                <div class="border-div">
                <form action="{% url 'input_result' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="diseaseForm" class="form-label">질병명:</label>
                        <input type="text" class="form-control" id="diseaseForm" name="disease" placeholder="질병 이름">
                    </div>
                    <div class="mb-3">
                        <label for="pillForm" class="form-label">복용중인 약:</label>
                        <input id = "pillForm" class = "form-control" name="pill" type="text" list="pill_list" placeholder="약 이름">
                        <datalist id="pill_list">
                            {% for pill_name in pill_list %}
                                <option>{{pill_name}}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <button type="submit" id="input-value" class="btn btn-primary">제출</button>
                </form>
                <div id="user-result">
                    <!--여기에 입력한값 출력-->
                </div>
                </div>
                </div>
            <br>
                <!-- 레시피명 입력 -->
                <div class="border-div">
                <form action="{% url 'input_recipe' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="recipe" class="form-label">선호 음식명: </label>
                        <input type="text" class="form-control" id="recipe" name="recipe" placeholder="선호 음식 종류">
                    </div>
                    <button type="submit" class="btn btn-primary">제출</button>
                </form>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/scripts.js"></script>
<script>
    $(document).ready(function () {
        var userId = "{{ request.user.id }}";
        if (userId && !isNaN(parseInt(userId, 10)) && parseInt(userId, 10) > 0) { //로그인 되어있을때만 load_ajax 실행
            load_ajax();
        }

        // 입력했던 질병명, 약이름 출력 
        function load_ajax(){
            var user_id = userId;
            $.ajax({
                type:"POST",
                url: '/load_ajax/',
                data: {
                    user_id: user_id
                },
                success: function (response) {
                    var unique = {};
                    var result= "";
                    for (var i = 0; i < response.results.length; i++) {
                        var entryKey = response.results[i].disease + "|" + response.results[i].pill; // 질병명, 약이름 중복 체크
                        if (!unique[entryKey]) {
                            result += "<button class='insert_btn'>"+response.results[i].disease + ", " + response.results[i].pill +
                                "<button class='delete-btn' data-disease='" + response.results[i].disease +
                                "' data-pill='" + response.results[i].pill + "'>x</button> <br>";    
                            unique[entryKey] = true; // 중복된 항목 방지
                        }
                    }
    
                    $("#user-result").html("<p>질병명, 복용중인 약: "+"<br>" + result + "</p>");                    
                    
                    // input박스에 선택한 값 자동입력
                    $("#user-result").on("click", ".insert_btn", function () {
                        var buttonText = $(this).text();
                        var values = buttonText.split(',');
                        var value1 = values[0].trim();
                        var value2 = values[1].trim();
                        $("#diseaseForm").val(value1);
                        $("#pillForm").val(value2);
                    });

                },
                error: function (error) {
                    console.log("에러 발생:", error);
                }

            })

        }
        
        // x버튼을 눌렀을때 입력했던 해당 질병명, 약이름 db 삭제
        $("#user-result").on("click", ".delete-btn", function () {
            var disease = $(this).data("disease");
            var pill = $(this).data("pill");
            var user_id = userId;

            disease = disease !== null ? disease : 'null';
            pill = pill !== null ? pill : 'null';

            $.ajax({
                type: "POST",
                url: '/delete_info/',
                data: {
                    user_id: user_id,
                    disease: disease,
                    pill: pill
                },
                success: function (response) {
                    location.reload();
                },
                error: function (error) {
                    console.log("에러 발생:", error);
                }
            });

            $(this).closest("br").remove();
        });


        // 로그인 되어있을때만 제출 버튼을 눌렀을때 해당하는 질병명, 약이름 데이터를 db에 저장(user_id별)
        $("#input-value").click(function () {
            if (userId && !isNaN(parseInt(userId, 10)) && parseInt(userId, 10) > 0) {
                input_ajax();
            }
        });

        // 질병명, 약이름, user_id ajax로 보내기
        function input_ajax() {
            var disease = $("#diseaseForm").val();
            var pill = $("#pillForm").val();
            var user_id = userId;

            $.ajax({
                type: "POST",
                url: '{% url "input_ajax" %}',
                data: {
                    disease: disease,
                    pill: pill,
                    user_id: user_id
                },
                success: function (response) {
                    console.log('성공: ', response);
                },
                error: function (error) {
                    console.log("에러 발생:", error);
                }
            });
        }

        // 자동완성. db에서 불러온 약이름 option태그로 추가시키기
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();

        $('input[name="pill"]').on('input', function() {
            var input_value = $(this).val();
            $.ajax({
                url: '/auto_complete/',
                method: 'POST',
                data: {'input_value': input_value,
                'csrfmiddlewaretoken': csrf_token},
                dataType: 'json',
                success: function(data) {
                    var datalist = $('#pill_list');
                    
                    datalist.empty();
                    $.each(data, function(index, value) {
                        datalist.append('<option value="' + value + '">' + value + '</option>');
                    });
                }
            });
        });
    });
</script>
</body>
</html>