<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/styles.css" rel="stylesheet"/>
<style>
    .div-in-result{
        border: 1px solid black;
        background-color: grey;
        color: white;
        font-family: 'NanumSquareNeo';
    }
    .result-container{
        display: flex;
        flex-direction: column;
        align-items: center; 

    }
    .tag-container,
    .card-container{
        width: 80%;
    }

    .div-interaction{
        border: 1px solid black;
        background-color: grey;
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .ingre-div,
    .ingre2-div,
    .inter-div{
        width: 27%;
        font-family: 'NanumSquareNeo';
        border-style: solid;
        border-color: black;
        background-color: white;
        color: black;
        border-radius: 15px;
        margin: 3%;
        font-size: 15px;
    }
</style>
</head>
<body>
    {% include 'polls/loading.html' %}
    <!-- Navigation-->
    {% include 'polls/navigation.html' %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="masthead-heading text-uppercase">선호음식 선택</div>
    </header>
    <!-- Services-->
    <div class="div-in-result">
        <p class='p-disease'>{{ disease }}</p>
        <p class='p-pill'>
            <ul id='multi-class'>
            {% for pill_name in pill %}
              <li>{{ pill_name }}</li>
            {% endfor %}
            </ul>
        </p>
    </div>
    <div class="div-interaction">      
        <!-- 상호작용 추가 div -->
    </div>

<div class="result-container">
    <div class="tag-container">
        {% if tests %}
        <ul class="custom-ul">
            {% for test in tests %}
                <li class="custom-li">
                    <button id="button_{{ test.recipe.0 }}" class="btn blue small">
                        {{ test.recipe.0 }}
                    </button>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="card-container">
        <div id="result-div">
            <div class='recipe-group' style="display:none;">
                <!-- 레시피명, 이미지 추가-->
            </div>
        </div>
    </div>
</div>

    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/scripts.js"></script>

<script>
    var loading = false;
    var page = 1;  // 초기 페이지 번호
    var reachedEnd = false;
    var btnvalue;
    var recvalue;

    $(document).ready(function() {        
        var diseasevalue = $('.p-disease').text();
        var pillvalue = [];
            $('#multi-class li').each(function() {
                pillvalue.push($(this).text());
            });  

        $.ajax({
            type: 'POST',
            url: '/interaction_ajax/',
            data: {
                disease: diseasevalue,
                pillvalue: JSON.stringify(pillvalue)
            },
            success: function(response) {
                var interaction = $('.div-interaction');
                var disease_div = $('<div class="ingre-div" style="text-align:center; margin-left:5%;">').text('권장식재료')
                var disease = $('<p>').text(response.result1.good_ingre);
                interaction.append(disease_div);
                disease_div.append(disease)
                var disease2_div = $('<div class="ingre2-div" style="text-align:center;">').text('주의식재료')
                var disease2 = $('<p>').text(response.result1.bad_ingre);
                interaction.append(disease2_div)
                disease2_div.append(disease2)
                var pill_div = $('<div class="inter-div" style="text-align:center; margin-right: 5%;">').text('약 상호작용')
                var pill = $('<p>').text(response.result2);
                interaction.append(pill_div);
                pill_div.append(pill)
            },
            error: function(error) {
                console.log('에러: ' + error);
            }
        });
        
        const loading_page = $("#load");
        $(document).ajaxStart(function() {
            loading_page.show();
        });
        $(document).ajaxStop(function() {
            loading_page.hide();
        });
        // 모든 리소스가 로드된 후에 실행
        $(window).on("load", function() {
            loading_page.hide();
        });
    
        // 해당 버튼 누르면 전 페이지에서 입력한 값과 버튼 value값을 ajax로 보냄
        $("button[id^='button_']").on("click", function() {
            var btnvalue = $(this).text();
            var diseasevalue = $('.p-disease').text();
            var pillvalue = [];
            $('#multi-class li').each(function() {
                pillvalue.push($(this).text());
            });    

            console.log(pillvalue)
            $.ajax({
                type: 'POST',
                url: '/output_test/',
                data: { btnvalue: btnvalue, diseasevalue: diseasevalue, pillvalue: JSON.stringify(pillvalue)},
                success: function(response) {
                    var resultDiv = $("#result-div");
                    resultDiv.empty();
    
                    for (var i = 0; i < response.image_urls.length; i++) {
                        var imageUrl = response.image_urls[i].image_url;
                        var recipeTitle = response.image_urls[i].recipe;
    
                        // 값이 있는 경우에만 HTML을 생성하도록 조건 추가
                        if (imageUrl && recipeTitle) {
                            // 새로운 <div>를 생성하여 레시피 정보를 감싼다
                            var recipeGroup = $("<div class='recipe-group' name='" + recipeTitle + "'></div>");
                            recipeGroup.append(`<p>${recipeTitle}</p>`);
                            recipeGroup.append(`<img src="${imageUrl}" alt="${recipeTitle}" style="width:90%; height: 80%;">`);
    
                            // 최종적으로 resultDiv에 추가
                            resultDiv.append(recipeGroup);
                        }
                    }
                    // ajax 성공시 무한스크롤 작동
                    $(window).scroll(function() {
                        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                            // 스크롤이 맨 아래에 도달하면 새로운 페이지를 로드
                            if (!reachedEnd && !loading) {
                                loading = true;
                                page += 1;
                    
                                $.ajax({
                                    type: 'POST',
                                    url: '/output_test/',
                                    data: { btnvalue: btnvalue, diseasevalue: diseasevalue, pillvalue: JSON.stringify(pillvalue), page: page },
                                    success: function(response) {
                                        var resultDiv = $("#result-div");
                    
                                        if (response.has_next) {
                                            for (var i = 0; i < response.image_urls.length; i++) {
                                                var imageUrl = response.image_urls[i].image_url;
                                                var recipeTitle = response.image_urls[i].recipe;
                    
                                                // 값이 있는 경우에만 HTML을 생성하도록 조건 추가
                                                if (imageUrl && recipeTitle) {
                                                    // 새로운 <div>를 생성하여 레시피 정보를 감싼다
                                                    var recipeGroup = $("<div class='recipe-group' name='" + recipeTitle + "'></div>");
                                                    recipeGroup.append(`<p>${recipeTitle}</p>`);
                                                    recipeGroup.append(`<img src="${imageUrl}" alt="${recipeTitle}" style="width:90%; height: 80%;">`);
                    
                                                    // 최종적으로 resultDiv에 추가
                                                    resultDiv.append(recipeGroup);
                                                }
                                            }
                                        } else {
                                            reachedEnd = true;
                                        }
                    
                                        loading = false;
                                    },
                                    error: function(error) {
                                        console.error(error);
                                        loading = false;
                                    }
                                });
                            }
                        }
                    });                    
                    },
                    error: function(error) {
                        console.error(error);
                    }
                });
            });
        // 생성된 div를 눌렀을때 name에 담긴 해당 레시피명을 ajax로 보내기
        $("#result-div").on("click",".recipe-group",function() {
            var recipetitle = $(this).attr("name");
            $.ajax({
                type: 'POST',
                url: '/detail_ajax/',
                data: {recipetitle: recipetitle},
                success: function(response) {
                    // 로컬 스토리지에 데이터 저장
                    localStorage.setItem('recipetitle', response.recipetitle);
                    localStorage.setItem('recipe_step', response.recipe_step);
                    localStorage.setItem('recipe_ingre', response.recipe_ingre);

                    // /detail로 이동
                    window.location.href = '/detail/';

                },
                error: function(error) {
                    console.error(error);
                }
            });
        });
    });

</script>
</body>
</html>