<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="/static/css/styles.css" rel="stylesheet"/>
<style>
    .div-in-result{
        border: 1px solid #9eecf1;
    }
</style>
</head>
<body>
    {% include 'polls/loading.html' %}
    {% if recipe %}
    <!-- Navigation-->
    {% include 'polls/navigation.html' %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="masthead-heading text-uppercase">선호음식 선택</div>
    </header>
    <!-- Services-->
    <div class="div-result">
        <div id="result-test" style="display: none">
            {{recipe}}
        </div>
    </div>
    {% endif %}
    <div>
    {% if tests %}
    <ul class="custom-ul">
        {% for test in tests %}
            <li class="custom-li">
                <button id="button_{{ test.recipe.0 }}" class="btn blue small">
                    {{ test.recipe.0 }}
                </button>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div id="result-div">
    <div id='recipe-group'>
        <!-- 레시피명, 이미지 추가-->
    </div>
</div>

<script>
    var loading = false;
    var page = 1;  // 초기 페이지 번호
    var reachedEnd = false;
    var btnvalue;
    var recvalue;

    $(document).ready(function() {
        const loading_page = $("#load");
        $(document).ajaxStart(function() {
            loading_page.show();
          });
        $(document).ajaxStop(function() {
            loading_page.hide();
        });
          // 모든 리소스가 로드된 후에 실행
          $(window).on("load", function() {
            loading_page.hide(); // 로딩이 완료되면 loading.html을 숨김
          });

        // 해당 버튼 누르면 전 페이지에서 입력한 값과 버튼 value값을 ajax로 보냄
        $("button[id^='button_']").on("click", function() {
            btnvalue = $(this).text();
            recvalue = $("#result-test").text();

            $.ajax({
                type: 'POST',
                url: '/recipe_ajax/',
                data: { btnvalue: btnvalue, recvalue: recvalue },
                success: function(response) {
                    var resultDiv = $("#result-div");
                    resultDiv.empty();

                    for (var i = 0; i < response.image_urls.length; i++) {
                        var imageUrl = response.image_urls[i].image_url;
                        var recipeTitle = response.image_urls[i].recipe;

                        // 값이 있는 경우에만 HTML을 생성하도록 조건 추가
                        if (imageUrl && recipeTitle) {
                            // 새로운 <div>를 생성하여 레시피 정보를 감싼다
                                var recipeGroup = $("<div id='recipe-group' onclick=\"location.href='{% url 'detail' %}'\" style='cursor:pointer;'></div>");

                            recipeGroup.append(`<p>${recipeTitle}</p>`);
                            recipeGroup.append(`<img src="${imageUrl}" alt="${recipeTitle}" width="200" height="200">`);

                            // 최종적으로 resultDiv에 추가
                            resultDiv.append(recipeGroup);
                        }
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });
        });

        $(window).scroll(function () {
            if (!reachedEnd && $(window).scrollTop() + $(window).height() >= $(document).height() - 200) {
                if (!loading) {
                    loading = true;
                    page++;
                    $.ajax({
                        type: 'POST', 
                        url: '/recipe_ajax/',
                        data: { btnvalue: btnvalue, recvalue: recvalue, page: page },
                        success: function (response) {
                            var resultDiv = $("#result-div");
        
                            if (response.image_urls.length > 0) {
                                for (var i = 0; i < response.image_urls.length; i++) {
                                    var imageUrl = response.image_urls[i].image_url;
                                    var recipeTitle = response.image_urls[i].recipe;
        
                                    // 값이 있는 경우에만 HTML을 생성하도록 조건 추가
                                    if (imageUrl && recipeTitle) {
                                        // 새로운 <div>를 생성하여 레시피 정보를 감싼다
                                            var recipeGroup = $("<div id='recipe-group' onclick=\"location.href='{% url 'detail' %}'\" style='cursor:pointer;'></div>");

                                        recipeGroup.append(`<p>${recipeTitle}</p>`);
                                        recipeGroup.append(`<img src="${imageUrl}" alt="${recipeTitle}" width="200" height="200">`);

                                        // 최종적으로 resultDiv에 추가
                                        resultDiv.append(recipeGroup);
                                    }
                                }
                            } else {
                                reachedEnd = true;
                            }
                            loading = false;
                        },
                        error: function (error) {
                            console.error(error);
                            loading = false;
                        }
                    });
                }
            }
        });
    });
</script>
</body>
</html>