<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>테스트</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<body>
<div>
    <div class='test_div'>
        안녕하세요
    </div>
    <button id='test_button'>테스트 버튼</button>
    <button id='test_button1'>테스트 버튼</button>
<div>
<div>
    <h1>영양소 리스트</h1>
    <ul class="list-group list-group-numbered">
        {% for test in tests %}
        <li class="list-group-item">
            식재료명:{{test.nutri}}
            <br>
            에너지:{{test.energy}}
            <br>
            수분:{{test.water}}
        </li>
        {% endfor %}
    </ul>
</div>

</body>
<script>
    $('#test_button').click(function(){
        $('.test_div').hide();
    });
    $('#test_button1').click(function(){
        $('.test_div').show();
    });
</script>


</html>